<% content_for :page_title do %>
	<%= "#{@team.name} (#{@team.league})" %>
<% end %>

<% content_for :page_body do %>
	<h1><%= @team.name %></h1>
	
	<% unless @venues.blank? %>
		<br />
		<h2>All venues</h2>
		<%= partial :'venues/show', :collection => @venues %>
		<br /><br />
	<% end %>
	
	<h2>Shortcut links</h2>
	<ul class="list">
		<% City.all.sort(:by => :population, :order => "desc").each do |c| %>
			<li><a href="<%= "#{@team.slug}/#{c.slug}" %>">Where to watch <%= @team.definite_name %> in <%= "#{c.name}, #{c.state}" %></a></li>
		<% end %>
	</ul>

	<% if (request.cookies['admin'] == $config[:secret]) %><a href="/teams/<%= @team.slug %>/edit" style="padding: 1em 0; display: block;">edit</a><% end %>
	
<% end %>