<li class="venue" data-venue_id="<%= show.id %>">
	<h2 style="display: inline-block;"><a href="/venues/<%= show.slug %>"><%= show.name %></a></h2> <%= show.address %>, <%= show.city %> <%= show.state %>
</li>
