<% content_for :page_body do %>

	<% if @venue.new? %>
		<h1>New venue</h1>
	<% else %>
		<h1>Update venue</h1>
	<% end %>

	<ul class="form" id="venue-search-form">
		<li>
			<label>Rough location (zip, city + state, etc.)</label><br />
			<%= text_field_tag(:league, :id => 'venue-search-location') %>
		</li>
		<li>
			<label>Name</label><br />
			<%= text_field_tag(:name, :id => 'venue-search-name') %>
		</li>
		
		<ul id="venue-search-results"></ul>
	</ul>
	
	<% form_for(@venue, @form[:endpoint], :method => @form[:method], :id => 'venue-edit', :style => 'display: none;') do |f| %>
		<% unless @venue.new? %>
			<%= f.hidden_field(:id) %>
		<% end %>
		<ul>
			<li>
				<label>Name</label><br />
				<%= f.text_field(:name) %>
			</li>

			<li>
				<label>League</label><br />
				<%= f.text_field(:league) %>
			</li>

			<li>
				<label><%= f.radio_button(:sport, :value => 'Soccer') %> Soccer</label>
				<label><%= f.radio_button(:sport, :value => 'Football') %> Football</label>
				<label><%= f.radio_button(:sport, :value => 'Baseball') %> Baseball</label>
				<label><%= f.radio_button(:sport, :value => 'Basketball') %> Basketball</label>
				<label><%= f.radio_button(:sport, :value => 'Hockey') %> Hockey</label>
			</li>


			<li>
				<label>City</label><br />
				<%= f.text_field(:city) %>
			</li>

			<li>
				<label>Country</label><br />
				<%= f.text_field(:country) %>
			</li>


			<li>
				<label>Website</label><br />
				<%= f.text_field(:url) %>
			</li>

			<li>
				<label>Twitter</label><br />
				<%= f.text_field(:twitter) %>
			</li>

			<li>
				<%= f.submit('Save') %>
			</li>
		</ul>
	<% end %>
<% end %>
