<% content_for :page_body do %>

	<h1><%= @venue.new? ? "New" : "Update" %>  venue <%= "for #{@team.definite_name}" unless @team.blank? %></h1>

	<ul class="form" id="venue-pre-edit-search">
		<li>
			<label>Venue name</label><br />
			<%= text_field_tag(:name, :id => 'venue-search-name') %>
		</li>
		<li>
			<label>Rough location (zipcode, city + state, etc.)</label><br />
			<%= text_field_tag(:league, :id => 'venue-search-location', :value => params[:location]) %>
		</li>
	</ul>

	<% form_for(@venue, @form[:endpoint], :method => @form[:method], :id => 'venue-edit', :style => 'display: none;') do |f| %>
		<% unless @venue.new? %>
			<%= f.hidden_field(:id) %>
		<% end %>
		<ul>
			<%= f.hidden_field(:foursquare_id) %>
			<%= f.hidden_field(:lat) %>
			<%= f.hidden_field(:lon) %>
			<li>
				<label>Name</label><br />
				<%= f.text_field(:name) %>
			</li>

			<li>
				<label>address</label><br />
				<%= f.text_field(:address) %>
			</li>

			<li>
				<label>Crossstreet</label><br />
				<%= f.text_field(:crossstreet) %>
			</li>

			<li>
				<label>City</label><br />
				<%= f.text_field(:city) %>
			</li>

			<li>
				<label>State</label><br />
				<%= f.text_field(:state) %>
			</li>

			<li>
				<label>Zipcode</label><br />
				<%= f.text_field(:zip) %>
			</li>

			<li>
				<label>Phone</label><br />
				<%= f.text_field(:phone) %>
			</li>

			<li>
				<label>Website</label><br />
				<%= f.text_field(:url) %>
			</li>

			<li>
				<label>Twitter</label><br />
				<%= f.text_field(:twitter) %>
			</li>

			<li>
				<label>&nbsp;</label><br />
				<%= f.submit('Save', :class => 'rgbabutton large blue') %>
			</li>
		</ul>
	<% end %>
<% end %>

<% content_for :page_end do %>
	<script type="text/javascript" charset="utf-8">
	head.ready(function() {
		try {
			var qs = _(location.search.substring(1).split('&')).chain()
				.map(function(p) { return p.split('='); })
				.reduce(function(acc, v) { acc[v[0]] = decodeURIComponent(v[1].replace(/\+/g, '%20')); return acc; }, {})
				.value();
			$('#venue-search-location').val(qs.location).change();
		} catch(e) {}
	});
	</script>
<% end %>