<% content_for :page_title do %>
	<%= "#{@venue.name} at #{@venue.address} in #{@venue.city}" %>
<% end %>

<% content_for :page_body do %>
	<h1><%= @venue.name %></h1>

	<ul style="margin: 1em 0;">
		<li><%= @venue.address %>, <%= @venue.city %></li>
		<li><a href="tel:+1<%= @venue.phone.gsub(/\D/,'') %>"><%= format_phone @venue.phone %></a></li>
		<% unless @venue.foursquare_id.blank? %>
			<li><a href="http://foursquare.com/venue/<%= @venue.foursquare_id %>" target="_blank"><img src="/images/foursquare-icon.png" height="20" width="20" border="0" style="vertical-align: text-top;"> foursquare</a></li>
		<% end %>
	</ul>
	
	<!-- <h3>Teams</h3> -->
	<ul>
	<% if @venue.bonds.blank? %>
		<!-- <li><a href='#' id="open-add-bond">&rarr; No teams. Add one?</a></li> -->
	<% else %>
		<!-- <li><a href='#' id="open-add-bond">&rarr; Associate another team with this venue?</a></li> -->
	<% end %>
	</ul>
	
	<% form_for(Bond.new, "#{@venue.permalink}/bonds", :method => 'post', :id => 'add-bond') do |f| %>
		<input type="text" name="bond[team_name]" id="bond-team-name" placeholder="Team name" data-teams='<%= @teams.to_json %>'>

		games are
		
		<ul class="select" name="bond[strength]" style="display: inline-block;">
			<li class="selected"><a href="#">always</a></li>
			<li class=""><a href="#">usually</a></li>
			<li class=""><a href="#">sometimes</a></li>
		</ul>
		
		<div style="padding-left: 113px; display: inline-block;">shown here.</div>
		
		<textarea id="bond-note" name="bond[note]" placeholder="Additional info..."></textarea>
		<br />

		<%= submit_tag('Save', :class => 'rgbabutton large blue') %>
	<% end %>
<% end %>