<% content_for :page_body do %>
	<div id="map" style="position: absolute; left: 0; width: 100%; height: 480px; margin-bottom: 12px; margin-top: -36px; "></div>

	<ul style="padding-top: 470px;">
		<% @k.each do |v| %>
			<li><a href="<%= v.permalink %>"><%= v.to_s %></a></li>
		<% end %>
	</ul>
<% end %>

<% content_for :page_head do %>
	<link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
<% end %>

<% content_for :page_end do %>
	<script type="text/javascript" charset="utf-8">
		$script.ready('_bundle', function() {
			$script([
				"//cdn.leafletjs.com/leaflet-0.4.5/leaflet.js"
			], function() {
				$(document).ready(function() {
					var map = L.map('map').setView(new L.LatLng(41.260689, -95.940590), 3);
					var attrib = 'Tiles Courtesy <a href="http://www.mapquest.com/" target="_blank">MapQuest</a> <img style="vertical-align: bottom; border: 0;" src="http://developer.mapquest.com/content/osm/mq_logo.png">';
					var osm = new L.TileLayer('http://otile{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png', {
						minZoom: 2, 
						maxZoom: 12, 
						attribution: attrib,
						subdomains: '1234'
					}).addTo(map);

					var points = <%= @k.map { |c| [ c.latitude, c.longitude, c.to_s, c.permalink ] }.to_json %>;
					var bounds = new L.LatLngBounds();
					_.each(points, function(ll) {
						bounds.extend(L.latLng(ll));
						L.marker(ll, { 
							title: ll[2],
							click: function(e) {
								document.location.href = ll[3];
							}
						}).on('click', function(e) {
							e.target.options.click(e)
						}).addTo(map);
					});
					map.fitBounds(bounds);

					$('#map').show();				
				});				
			})
		});
		
		// $script('http://maps.googleapis.com/maps/api/js?sensor=false&callback=_google_maps_api_loaded');
		// function _google_maps_api_loaded() {
		// 	center = new google.maps.LatLng(34.5, -39);	// the atlantic ocean
		// 	var _map = new google.maps.Map(document.getElementById('map'), {
		// 		center: center,
		// 		zoom: 4,
		// 		panControl: false,
		// 		scrollwheel: false,
		// 		streetViewControl: false,
		// 		mapTypeId: google.maps.MapTypeId.ROADMAP,
		// 		styles: [{
		// 			elementType: "labels",
		// 			stylers: [
		// 				// { gamma: 2.25 }
		// 			]
		// 		}, {
		// 			featureType: "road",
		// 			elementType: "geometry",
		// 			stylers: [
		// 				// { gamma: 1.3 },
		// 				// { lightness: 45 }
		// 			]
		// 		}]
		// 	});
		// 	
		// 	var bounds = new google.maps.LatLngBounds();
		// 	
		// 	<% @k.each do |c| %>
		// 		var loc = new google.maps.LatLng(<%= c.latitude %>, <%= c.longitude %>);
		// 		bounds.extend(loc);
		// 		
		// 		var marker = new google.maps.Marker({
		// 			map: _map,
		// 			position: loc
		// 		});
		// 	<% end %>
		// 	_map.fitBounds(bounds);
		// $('#map').show();
		// }
		
	</script>
<% end %>