<!doctype html> 
<html lang="en"> 
<head>
	<meta charset="utf-8">

	<title><%= pt = yield_content(:page_title); (pt.blank? ? "" : "#{pt} | ") %>Out of Town Sports</title>

	<!--[if IE]><![endif]-->	<!-- http://bit.ly/9GcFnC -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!-- <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"> -->
	
	<meta name="description" content="<%= pt = yield_content(:page_title); (pt.blank? ? "" : "#{pt.strip}. ") %>Out of Town Sports (OOTS) is a directory of places where you can watch out-of-town sports teams in any city." />
	<meta name="keywords" content="Out of Town Sports, OOTS, sports bars, where to watch, nfl sunday ticket, mlb extra innings, nfl, mlb, nba, nhl, soccer, football, baseball, hockey, basketball, directory" />
	<meta name="google-site-verification" content="6iCVeJOriIh80IZWpyYsTsMbGIA8UVOMZx7L3mt25ek" />
	<link rel="canonical" href="<%= "#{CONFIG['base_url']}#{request.path_info}" %>" />
	
	<script src="/javascripts/head.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
		head.js(
			"http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js", 
			"/javascripts/jquery-ui-1.8.5.custom.min.js",
			"/javascripts/jquery.cookies.js",
			"/javascripts/jquery.elastic.js",
			// "/javascripts/jquery.form.js",
			"/javascripts/jquery.qtip.js",
			"/javascripts/underscore.js",
			"/javascripts/application.js"
		);
	</script>

	<%= stylesheet_link_tag "/stylesheets/public.css", 
		"/stylesheets/custom-theme/jquery-ui-1.8.5.custom.css", 
		:cache => "/stylesheets/_bundle.css",
		:compress => true
	%>

	<%= yield_content :page_head %>
</head>

<body>
	<div id="page-header">
		<a href="/" class="site-title"><img src="/images/oots-title.png" height="34" width="500" title="Out of Town Sports" border="0"></a>
	</div>
	<div id="page-subheader">
		Find the best place to watch your team, anywhere.
	</div>
	
	<div id="page-body">
		<%= yield_content :page_body %>
	</div>

	<div id="page-footer">
		<div>
			<ul>
				<li><a href="/">OOTS home</a></li>
				<li><a href="/about">About</a></li>
				<% if (request.cookies['admin'] == CONFIG['secret']) %>
				<li><a href="/venues">Venues</a></li>
					<li><a href="/venues/new">New venue</a></li>
					<li><a href='/teams'>Teams</a></li>
					<li><a href="/teams/new">New team</a></li>
				<% end %>
			</ul>
			<ul>
				<li><a href="http://twitter.com/outoftownsports" target="_blank">Twitter</a></li>
			</ul>
			<ul>
				<li><a href='#' onclick="$('#mailing-list-signup').show(); $(this).hide(); return false;">Mailing list</a>
					<div id="mailing-list-signup" style="display: none;">
						<%= partial :'meta/mailinglist' %>
					</div>
				</li>
			</ul>
			<div style="clear: both;"> </div>
		</div>
	</div>
	
	<div id="spinner" style="display: none"></div>
	<div id="geolocation-permission" title="If your browser asks for permission to locate you, please OK it - you'll get better search results. We don't save your location."></div>
	
	<%= yield_content :page_end %>

	<div class="templates" style="display: none;">
		<%= include_templates(settings.root + '/app/views') %>
	</div>
	
	<script type="text/javascript" charset="utf-8">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-19133487-2']);
		_gaq.push(['_trackPageview']);

		_qoptions = { qacct: "p-6b24jK0EWRBbE" };

		head.js(('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js').js('http://edge.quantserve.com/quant.js');
	</script>
	<noscript>
		<img src="http://pixel.quantserve.com/pixel/p-6b24jK0EWRBbE.gif" style="display: none;" border="0" height="1" width="1" alt="Quantcast">
	</noscript>
	
</body>
</html>