<!doctype html> 
<html lang="en"> 
<head>
	<meta charset="utf-8">

	<title><%= pt = yield_content(:page_title); (pt.blank? ? "" : "#{pt} | ") %>Out of Town Sports</title>

	<!--[if IE]><![endif]-->	<!-- http://bit.ly/9GcFnC -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
	
	<meta name="description" content="Out of Town Sports (OOTS) is a directory of places where you can watch out-of-town sports teams in any city" />
	<meta name="keywords" content="Out of Town Sports, OOTS, sports bars, where to watch, nfl sunday ticket, mlb extra innings, nfl, mlb, nba, nhl, soccer, football, baseball, hockey, basketball, directory" />
	<meta name="google-site-verification" content="6iCVeJOriIh80IZWpyYsTsMbGIA8UVOMZx7L3mt25ek" />
	<link rel="canonical" href="<%= "#{$BASE_URL}#{request.path_info}" %>" />
	
	<%= stylesheet_link_tag "/stylesheets/reset.css", 
		"/stylesheets/public.css", 
		"/stylesheets/custom-theme/jquery-ui-1.8.5.custom.css", 
		:cache => "/stylesheets/bundle.css" %>

	<%= yield_content :page_head %>
</head>

<body>
	<div id="page-header">
		<a href="/" class="site-title"><img src="/images/oots-title.png" height="44" width="655" title="Out of Town Sports" border="0"></a>
		<em style="font-size: 12px; display: block; text-align: right; width: 655px; margin: 3px auto; color: #777;">Doesn't-work-yet version</em>
	</div>
	
	<div id="ad-bar" style="">
		<div style="width: 728px; margin: 10px auto;">
			<script type="text/javascript">
				google_ad_client = "pub-0057027191769219";
				/* 728x90, created 10/19/10 */
				google_ad_slot = "0941801210";
				google_ad_width = 728;
				google_ad_height = 90;
			</script>
<!--			<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script> -->
		</div>
	</div>

	<div id="page-body">
		<%= yield_content :page_body %>
	</div>

	<div id="page-footer">
		<div>
			<ul>
				<li><a href="/">OOTS home</a></li>
				<% if (request.cookies['admin'] == $SECRET) %>
					<li><a href="/venues/new">New venue</a></li>
					<li><a href="/venues">List venues</a></li>
					<li><a href="/teams/new">Add a team</a></li>
				<% end %>
			</ul>
			<ul>
				<li><a href="/about">About</a></li>
				<li><a href='#' onclick="$('#mailing-list-signup').show(); $(this).hide(); return false;">Mailing list</a>
					<div id="mailing-list-signup" style="display: none;">
						<%= partial :'meta/mailinglist' %>
					</div>
				</li>
			</ul>
			<ul>
				<li><a href="http://twitter.com/outoftownsports" target="_blank"><img src="/images/twitter-icon.png" height="20" width="20" border="0"></a></li>
			</ul>
			<ul>
				<li><a href="http://s46.sitemeter.com/stats.asp?site=s46outoftownsports" target="_top"><img src="http://s46.sitemeter.com/meter.asp?site=s46outoftownsports&1103616580" alt="Site Meter" border="0" height="20" width="20"></a></li>
			</ul>
			<div style="clear: both;"> </div>
		</div>
	</div>
	
	<%= javascript_include_tag "/javascripts/jquery.js",
		"/javascripts/jquery-ui-1.8.5.custom.min.js",
		"/javascripts/jquery.cookies.js",
		"/javascripts/jquery.elastic.js",
		"/javascripts/underscore.js",
		"/javascripts/public.js",
		:cache => "/javascripts/bundle.js",
		:compress => true
	%>
	
	<script type="text/javascript" charset="utf-8">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-19133487-2']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; 
			s.parentNode.insertBefore(ga, s);
		})();
	</script>
</body>
</html>