<!doctype html> 
<html lang="en"> 
<head>
	<meta charset="utf-8">

	<title><%= pt = yield_content(:page_title); (pt.blank? ? "" : "#{pt} | ") %>Out of Town Sports</title>

	<!--[if IE]><![endif]-->	<!-- http://bit.ly/9GcFnC -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!-- <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"> -->
	
	<%= stylesheet_link_tag "/stylesheets/public.css", 
		"/stylesheets/custom-theme/jquery-ui.css", 
		:cache => "/stylesheets/_bundle.css",
		:compress => true
	%>

	<meta name="description" content="<%= pt = yield_content(:page_title); (pt.blank? ? "" : "#{pt.strip}. ") %>Out of Town Sports (OOTS) is a directory of places to watch your team wherever you are." />
	<meta name="keywords" content="Out of Town Sports, OOTS, sports bars, where to watch, sports fans, nfl sunday ticket, mlb extra innings, red zone, out of town fans, nfl, mlb, nba, nhl, epl, la liga, serie a, soccer, football, baseball, hockey, basketball, directory" />
	<meta name="google-site-verification" content="6iCVeJOriIh80IZWpyYsTsMbGIA8UVOMZx7L3mt25ek" />
	<link rel="canonical" href="<%= "#{CONFIG['base_url']}#{request.path_info}" %>" />

	<script src="http://ajax.cdnjs.com/ajax/libs/headjs/0.9/head.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
		head.js(
			// "http://code.jquery.com/jquery-1.5rc1.js",
			"http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js", 
			"https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js",
			"http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js",
			"/javascripts/jquery/jquery.tools.overlay.js",
			"/javascripts/jquery/jquery.storage.js",
			"/javascripts/jquery/jquery.elastic.js",
			"/javascripts/jquery/jquery.qtip.js",
			"/javascripts/app/application.js",
			"/javascripts/app/teams.js",
			"/javascripts/app/venues.js"
		);
	</script>

	<%= yield_content :page_head %>
</head>

<body>
	<div id="page-header">
		<a class="site-logo" href="/" class="site-title">Out of Town Sports <span style="color: #999; font-size: 17px;">alpha</a></a>
		<div id="location"><a href='#'>Set your location</a></div>
	</div>

	<div id="page-body">
		<%= yield_content :page_body %>
	</div>

	<div id="page-footer">
		<div>
			<ul>
				<li><a href="/">OOTS home</a></li>
				<li><a href="/about">About</a></li>
				<% if (request.cookies['admin'] == CONFIG['secret']) %>
					<li><a href="/venues">Venues</a></li>
					<li><a href="/venues/new">New venue</a></li>
					<li><a href='/teams'>Teams</a></li>
					<li><a href="/teams/new">New team</a></li>
				<% end %>
			</ul>
			<ul>
				<li><a href="http://twitter.com/outoftownsports" target="_blank">Twitter</a></li>
				<li><a href='#' onclick="$('#mailing-list-signup').show(); $(this).hide(); return false;">Mailing list</a>
					<div id="mailing-list-signup" style="display: none;">
						<%= partial :'meta/mailinglist' %>
					</div>
				</li>
			</ul>
			<ul>
				<li><div style="padding-right: 1em; color: #999;">This is an alpha release. Thanks for your patience while we get things shipshape. <a href="http://twitter.com/outoftownsports" target="_blank">Follow OOTS on Twitter</a> for updates.</div></li>
			</ul>
			<div style="clear: both;"> </div>
		</div>
	</div>
	
	<div id="spinner" style="display: none"></div>
	<div id="geolocation-permission" title="If your browser asks for permission to locate you, please OK it - you'll get better search results. We don't save your location."></div>
	
	<%= yield_content :page_end %>

	<div class="templates" style="display: none;">
		<%= include_templates(settings.root + '/app/views/teams') %>
		<%= include_templates(settings.root + '/app/views/venues') %>
	</div>
	
	<script type="text/javascript" charset="utf-8">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-19133487-2']);
		_gaq.push(['_trackPageview']);

		_qoptions = { qacct: "p-6b24jK0EWRBbE" };

		head.js(('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js').js('http://edge.quantserve.com/quant.js');
	</script>
	<noscript>
		<img src="http://pixel.quantserve.com/pixel/p-6b24jK0EWRBbE.gif" style="display: none;" border="0" height="1" width="1" alt="Quantcast">
	</noscript>
	
</body>
</html>